.ue-heading {
  font-family: "Cormorant Garamond", sans-serif;
  color: #321833;
  text-align: center;
  padding: 3rem;
  font-size: 3rem;
  margin-top: 3rem;
}
.news {
  width: 100%;
  display: inline-block;
  padding: 3rem;
  text-align: center;
}

.news-container {
  margin: 0.2rem;
  display: inline-block;
  margin-bottom: 4rem;
}

.news-container img {
  width: 27rem;
  height: 25rem;
}

.news-container h2 {
  font-family: "Cormorant Garamond", sans-serif;
  color: #6d3971;
  margin-top: 1.5rem;
}

.news-container p {
  color: #6d3971;
  font-weight: 300;
  margin-top: 0.5rem;
}
