/*MOBILE VIEW OF OVERVIEW SEC */
.masjid-overview {
  width: 100%;
  height: 60vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 85%, transparent),
    url(/images/prayer-beads-candle-near-religious-book.jpg);
  background-size: cover;
  background-position: center;
  padding: 1rem;
  color: white;
  position: relative;
  text-align: left;
  z-index: -1;
}

.masjid-overview h1 {
  width: 60%;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: semi-bold;
  font-size: 2.6rem;
  position: absolute;
  top: 7.5rem;
  left: 7rem;
  white-space: pre-wrap;
}

.masjid-overview p {
  width: 50%;
  font-size: 1.2rem;
  position: absolute;
  top: 14rem;
  left: 7rem;
  font-weight: lighter;
  /* white-space: pre-wrap; */
}

/* MOBILE VIEW OF ABOUT SEC */

.about-main {
  position: relative;
  background: white;
  text-align: center;
  height: 100vh;
  z-index: -1;
}
.about-img {
  position: relative;
  margin: 8rem, auto;
  margin-bottom: 4rem;
  width: 70%;
  height: 50%;
  top: 17rem;
  bottom: 5rem;
}

.about-container {
  position: absolute;
  width: 90vw;
  height: 28rem;
  background: #6d3971;
  top: 3rem;
  right: 0.2rem;
  vertical-align: middle;
  text-align: left;
  padding: 2rem;
  border-radius: 6px;
}

.about-container:hover,
.about-container:active {
  animation: push_up 1s ease-out forwards;
}

.about-container h2 {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 1.8rem;
  color: #fff6ef;
  margin-bottom: 0.8rem;
}

.about-container p {
  font-size: 1rem;
  color: #fff6ef;
  line-height: 1.5rem;
  font-weight: 300;
}

.about-container button {
  margin-top: 1rem;
  padding: 0.8rem;
  font-family: "Cormorant Garamond";
  font-size: 0.93rem;
  border: 1px solid;
  background: #6d3971;
  color: #fff6ef;
  border-radius: 6px;
  outline: none;
}

.about-container button:hover {
  font-weight: semi-bold;
  background: white;
  color: #6d3971;
}

/* MOBILE VIEW FOR PRAYING_TIMES SEC */
#praying-times {
  background: #fff6ef;
  padding: 10px;
  text-align: center;
}

#praying-times h2 {
  width: 100%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #6d3971;
  text-align: center;
}

#praying-times span {
  font-weight: bold;
  color: #6d3971;
}

.pt-row {
  display: inline-block;
  text-align: middle;
  vertical-align: middle;
}

.pt-row__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pt-row__item {
  display: block;
  margin: auto;
  margin-bottom: 1.3rem;
  font-size: 1.2rem;
  color: #6d3971;
  font-weight: 300;
  text-align: center;
}

.pt-row2 {
  display: inline-block;
  text-align: middle;
  vertical-align: middle;
}

.pt-row__items2 {
  margin: 0;
  padding: 0;
  margin-bottom: 3rem;
  list-style: none;
}

.pt-row__item2 {
  display: block;
  margin: auto;
  margin-bottom: 1.3rem;
  font-size: 20px;
  color: #6d3971;
  font-weight: 300;
  text-align: center;
}

.source {
  margin-bottom: 3.5rem;
}

/* MOBILE VIEW FOR NEWS SEC */
#carousel-news {
  display: block;
  text-align: center;
  z-index: -1;
}
#carousel-news h2 {
  width: 100%;
  margin: 100px 0;
  margin-bottom: 2rem;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #6d3971;
  text-align: center;
}
.card {
  width: 14rem;
  margin: auto;
  background: #fff6ef;
  cursor: pointer;
  border-radius: 8px;
  z-index: -1;
}

.card h3 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: #6b3760;
}

.card p {
  color: #6d3971;
}
/* .carousel-control-prev-icon {
  color: #6b3760;
}
.carousel-control-next {
  color: #6b3760;
} */
#news {
  display: none;
}

/* MOBILE VIEW FOR DONATE SEC */
#donate {
  margin-top: 5rem;
  padding: 10px;
  background: url(/images/mosque.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 75vh;
  text-align: center;
  position: relative;
}

.donate-container {
  padding: 2rem 2.5rem;
  width: 80vw;
  background-color: white;
  position: absolute;
  top: 7rem;
  left: 10vw;
  margin: auto;
  border-radius: 3px;
}

.donate-container h3 {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 1.5rem;
  color: #6b3760;
  margin-bottom: 1.5rem;
}

.donate-container p {
  font-weight: 300;
  color: #6d3971;
  font-size: 1rem;
  line-height: 1.2rem;
}

.donate-container button {
  margin-top: 1rem;
  padding: 0.5rem;
  font-family: "Cormorant Garamond";
  font-size: 1rem;
  border: 1px solid;
  color: #6d3971;
  background: white;
}

.donate-container button:hover {
  font-weight: semi-bold;
  color: white;
  background: #6d3971;
}

button:focus {
  outline: 0;
}

/* DESKTOP VIEW OF OVERVIEW SEC */
@media (min-width: 40rem) and (min-height: 40rem) {
  .masjid-overview {
    background-size: cover;
    width: 100%;
    height: 58rem;
    padding: 10px;
  }

  .masjid-overview h1 {
    font-size: 5.6rem;
    width: 40%;
    top: 10rem;
    left: 18rem;
  }

  .masjid-overview p {
    width: 30%;
    font-size: 2rem;
    top: 23.5rem;
    left: 18rem;
  }
}

/* DESKTOP VIEW OF ABOUT SEC */
@media (min-width: 40rem) {
  .about-main {
    position: relative;
    background: white;
    height: 100vh;
    z-index: -1;
  }
  .about-img {
    position: relative;
    width: 42vw;
    height: 83vh;
    vertical-align: middle;
    top: 5.5rem;
  }
  .about-container {
    position: absolute;
    width: 28rem;
    height: 29rem;
    background: #6d3971;
    top: 10rem;
    right: 17.5rem;
    vertical-align: middle;
    text-align: left;
    padding: 70px;
    border-radius: 6px;
    margin-bottom: 10rem;
  }

  .about-container h2 {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 40px;
    color: #fff6ef;
    margin-bottom: 1.2rem;
  }

  .about-container p {
    font-size: 17px;
    color: #fff6ef;
    line-height: 1.7rem;
    font-weight: 300;
  }

  .about-container button {
    margin-top: 20px;
    padding: 10px;
    font-family: "Cormorant Garamond";
    font-size: 16px;
    border: 1px solid;
    background: #6d3971;
    color: #fff6ef;
  }
}

/* DESKTOP VIEW FOR PRAYING_TIMES SEC */
@media (min-width: 40rem) {
  #praying-times {
    background: #fff6ef;
    padding: 10px;
    text-align: center;
  }

  #praying-times h2 {
    width: 100%;
    margin: 100px 0;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #6d3971;
    text-align: center;
  }

  #praying-times span {
    font-weight: bold;
    color: #6d3971;
  }

  .pt-row {
    display: inline-block;
    text-align: middle;
    vertical-align: middle;
  }

  .pt-row__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .pt-row__item {
    display: inline-block;
    margin: 60px 120px;
    font-size: 20px;
    color: #6d3971;
    font-weight: 300;
    text-align: center;
  }

  .pt-row2 {
    display: inline-block;
    text-align: middle;
    vertical-align: middle;
  }

  .pt-row__items2 {
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
    list-style: none;
  }

  .pt-row__item2 {
    display: inline-block;
    margin: 50px 120px;
    font-size: 20px;
    color: #6d3971;
    font-weight: 300;
    text-align: center;
  }
}

/* DESKTOP VIEW FOR NEWS SEC */
@media (min-width: 40rem) {
  #carousel-news {
    display: none;
  }
  #news {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 60px;
    text-align: center;
  }

  #news h2 {
    width: 100%;
    margin: 100px 0;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #6d3971;
    text-align: center;
  }

  .card {
    background: #fff6ef;
    cursor: pointer;
    border-radius: 8px;
    z-index: -1;
    margin: 1.5rem;
  }

  .card h3 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: #6b3760;
  }

  .card p {
    color: #6d3971;
  }
}

/* DESKTOP VIEW FOR DONATE SEC */
@media (min-width: 40rem) {
  #donate {
    background: url(/images/mosque.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;
    top: 5rem;
  }

  .donate-container {
    padding: 3.5rem;
    width: 35vw;
    background-color: white;
    position: absolute;
    left: 32.5vw;
    top: 10rem;
    bottom: 15rem;
  }

  .donate-container h3 {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 30px;
    color: #6b3760;
    margin-bottom: 1.5rem;
  }

  .donate-container p {
    font-weight: 300;
    color: #6d3971;
    font-size: 20px;
    line-height: 1.5rem;
  }

  .donate-container button {
    margin-top: 20px;
    padding: 15px;
    font-family: "Cormorant Garamond";
    font-size: 18px;
    border: 1px solid;
    color: #6d3971;
    background: white;
  }

  .donate-container button:hover {
    font-weight: semi-bold;
    color: white;
    background: #6d3971;
  }
}

@keyframes push_up {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-1.5rem);
  }
  100% {
    transform: translateY(1rem);
  }
}
