.masjid-overview {
  background: url(images/prayer-beads-candle-near-religious-book.jpg);
  width: 100%;
  height: 58rem;
  padding: 10px;
  color: white;
  position: relative;
  z-index: -1;
}

.masjid-overview h1 {
  width: 40%;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: semi-bold;
  text-align: left;
  font-size: 6rem;
  position: absolute;
  bottom: 23rem;
  left: 17rem;
}

.masjid-overview p {
  font-size: 20px;
  position: absolute;
  bottom: 21rem;
  left: 17.5rem;
}

#about {
  background-color: black;
}

.about-main {
  display: block;
  background: black;
  width: 100%;
}
.about-img {
  margin: 140px 0px 130px 300px;
  width: 480px;
  height: 480px;
  vertical-align: middle;
}

.about-container {
  width: 430px;
  height: 450px;
  background: #6d3971;
  float: right;
  vertical-align: middle;
  text-align: left;
  padding: 70px;
  margin: 150px 200px 100px 0px;
}

.about-container h2 {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 40px;
  color: #fff6ef;
  margin-bottom: 1.2rem;
}

.about-container p {
  font-size: 17px;
  color: #fff6ef;
  line-height: 1.7rem;
  font-weight: 300;
}

.about-container button {
  margin-top: 20px;
  padding: 10px;
  font-family: "Cormorant Garamond";
  font-size: 16px;
  border: 1px solid;
  background: #6d3971;
  color: #fff6ef;
}

.about-container button:hover {
  font-weight: semi-bold;
  background: white;
  color: #6d3971;
}

#praying-times {
  background: #fff6ef;
  padding: 10px;
  text-align: center;
}

#praying-times h2 {
  width: 100%;
  margin: 100px 0;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #6d3971;
  text-align: center;
}

#praying-times span {
  font-weight: bold;
  color: #6d3971;
}

.pt-row {
  display: inline-block;
  text-align: middle;
  vertical-align: middle;
}

.pt-row__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pt-row__item {
  display: inline-block;
  margin: 60px 120px;
  font-size: 20px;
  color: #6d3971;
  font-weight: 300;
  text-align: center;
}

.pt-row2 {
  display: inline-block;
  text-align: middle;
  vertical-align: middle;
}

.pt-row__items2 {
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
  list-style: none;
}

.pt-row__item2 {
  display: inline-block;
  margin: 50px 120px;
  font-size: 20px;
  color: #6d3971;
  font-weight: 300;
  text-align: center;
}

#news {
  width: 100%;
  margin: 0;
  padding: 60px;
  display: inline-block;
  text-align: center;
}

#news h2 {
  width: 100%;
  margin: 100px 0;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #6d3971;
  text-align: center;
}

.news-container {
  display: inline-block;
  background: #fff6ef;
  padding: 60px;
  margin: 40px 50px;
  /* margin-left: 80px; */
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
}

.news-container img {
  padding: 0;
  width: 70%;
}

.news-container h3 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: #6b3760;
}

.news-container p {
  color: #6d3971;
}

#donate {
  padding: 10px;
  background: #fff6ef;
  width: 100%;
  height: 750px;
  text-align: center;
}

.donate-container {
  margin: 200px 500px;
  padding: 60px;
  width: 35%;
  background-color: white;
}

.donate-container h3 {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 30px;
  color: #6b3760;
  margin-bottom: 1.5rem;
}

.donate-container p {
  font-weight: 300;
  color: #6d3971;
  font-size: 20px;
  line-height: 1.5rem;
}

.donate-container button {
  margin-top: 20px;
  padding: 15px;
  font-family: "Cormorant Garamond";
  font-size: 18px;
  border: 1px solid;
  color: #6d3971;
  background: white;
}

.donate-container button:hover {
  font-weight: semi-bold;
  color: white;
  background: #6d3971;
}
