* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html {
  margin: 0;
} */

body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.brand {
  width: 100%;
  margin-bottom: 0;
  display: inline-block;
}
.brand-img {
  border-radius: 50%;
  margin: 40px 0px 40px 80px;
  /* display: inline-block; */
  float: left;
}

.brand a {
  text-decoration: none;
  color: #2b1827;
}
.brand-name {
  font-family: "Cormorant Garamond", sans-serif;
  float: left;
  margin-top: 50px;
  margin-left: 8px;
}

.brand-subname {
  float: left;
  margin-top: 90px;
  margin-left: -156px;
}

.main-header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  background: #fff6ef;
  margin-top: 0;
  padding: 8px 16px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #6d3971;
  text-decoration: none;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: left;
  width: calc(100%);
  vertical-align: middle;
  margin-left: 60px;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 10px 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: #4b2743;
  font-weight: semi-bold;
  padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #2b1827;
  border-bottom: 2px solid #2b1827;
}

.main-nav__item--cta a {
  color: white;
  background-color: #6d3971;
  padding: 8px 16px;
  padding-bottom: 6px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #4b2743;
  background: white;
  border: none;
}

.main-footer {
  background: #2b1827;
  padding: 32px;
  margin-top: 0px;
  margin-bottom: 0;
  text-align: center;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
  margin-bottom: 10px;
}

.main-footer__link a {
  color: #fff6ef;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ffff;
  border-bottom: 2px solid #ffff;
}

.copyright {
  text-align: center;
  color: #e7e1dc;
  padding-top: 2rem;
}

.copyright a {
  color: #e7e1dc;
  text-decoration: none;
}

.copyright a:hover,
.copyright a:active {
  color: whitesmoke;
  border-bottom: 2px solid whitesmoke;
}
